@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(-3px);
    }
    70% {
      transform: translateX(3px);
    }
}

.shake {
    animation: shake 0.5s ease-in-out;
}